{% extends 'base.html' %}
{% block title %} Profile - XYZ Store {% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}
    <div class="container-fluid content">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <h4 class="text-center">Welcome to your profile {{ current_user.username }}</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <h4>Details</h4>
                <p><img src="{{ url_for('static', filename='images/person-fill.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('profile') }}">Profile</a></p>
                <p><img src="{{ url_for('static', filename='images/credit-card.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('cards') }}">Credit Card</a></p>
                <p><img src="{{ url_for('static', filename='images/house-fill.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('addresses') }}">Address</a><img src="{{ url_for('static', filename='images/chevron-compact-left.svg') }}" alt="" width="24" height="24" title="Bootstrap"></p>
                <p><img src="{{ url_for('static', filename='images/bag.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('orders') }}">Orders</a></p>
            </div>
            <div class="col-sm-9">
                <form name="addressForm" onsubmit="return false" method="POST">
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="state">state:</label>
                        <input type="text" id="state" name="state" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip Code:</label>
                        <input type="text" id="zipCode" name="zipCode" class="form-control">
                    </div>
                    <button id="submit-button" type="submit" value="Submit" class="btn btn-primary">Add</button>
                </form>
                <script>
                    var submitButton = document.getElementById("submit-button");
                    submitButton.addEventListener("click", e => {
                        e.preventDefault();
                        var myObj = { address: document.forms["addressForm"]["address"].value, state: document.forms["addressForm"]["state"].value, city: document.forms["addressForm"]["city"].value, zipCode: document.forms["addressForm"]["zipCode"].value};
                        var myJSON = JSON.stringify(myObj);
                        fetch("{{ url_for('addaddresses') }}", {
                            "method": "POST",
                            "headers": {
                                'Content-Type': 'application/json',
                                "X-CSRFToken": "{{ csrf_token() }}"
                            },
                            "body": myJSON
                        })
                        .then(response => {
                            return response.text();
                        })
                        .then(text => {
                            document.open();
                            document.write(text);
                            document.close();
                        })
                        .catch(error => {
                            console.log("Error:", error);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
