{% extends 'base.html' %}
{% block title %} Profile - XYZ Store {% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}
    <div class="container-fluid content">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <h4 class="text-center">Welcome to your profile {{ current_user.username }}</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <h4>Details</h4>
                <p><img src="{{ url_for('static', filename='images/person-fill.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('profile') }}">Profile</a></p>
                <p><img src="{{ url_for('static', filename='images/credit-card.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('cards') }}">Credit Card</a></p>
                <p><img src="{{ url_for('static', filename='images/house-fill.svg') }}" alt="" width="24" height="24" title="Bootstrap"> <a href="{{ url_for('addresses') }}">Address</a><img src="{{ url_for('static', filename='images/chevron-compact-left.svg') }}" alt="" width="24" height="24" title="Bootstrap"></p>
            </div>
            <div class="col-sm-9">
                <h3>Addresses - <button class="btn btn-success" onclick="location.href='/addresses/add'">Add</button></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for address in current_user.addresses %}
                            <tr>
                                <td>{{ address.address }}</td>
                                <td>{{ address.city }}</td>
                                <td>{{ address.state }}</td>
                                <td>{{ address.zip_code }}</td>
                                <td><button class="btn btn-danger" onclick="location.href='/addresses/remove/{{ address.id }}'">Remove</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
