<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/source_code_pro.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/source_sans_pro.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/source_serif_pro.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">XYZ Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Store</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
  <footer>
    <p id="copyright" style="text-align: center;"><small>&#xa9; Copyright <span id="current-year"></span></small></p>
  </footer>
  <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
</body>
</html>
