{% extends "base.html" %}
{% block title %} Profile - XYZ Store {% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<div class="container-fluid content">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h4 class="text-center">Welcome to your profile {{ current_user.username
        }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <h4>Details</h4>
      <p>
        <img src="/static/images/person-fill.svg" alt="" width="24"
          height="24" />
        <a href="/profile">Profile</a>
      </p>
      <p>
        <img src="/static/images/credit-card.svg" alt="" width="24"
          height="24" />
        <a href="/cards">Credit Card</a>
        <img src="/static/images/chevron-compact-left.svg" alt="" width="24"
          height="24" />
      </p>
      <p>
        <img src="/static/images/house-fill.svg" alt="" width="24"
          height="24" />
        <a href="/addresses">Address</a>
      </p>
      <p>
        <img src="/static/images/bag.svg" alt="" width="24" height="24" />
        <a href="/orders">Orders</a>
      </p>
    </div>
    <div class="col-sm-9">
      <h3>Credit/Debit Cards - <button class="btn btn-success"
          onclick="location.href='/cards/add'">Add</button></h3>
      <table class="table">
        <thead>
          <tr>
            <th>Card Number</th>
            <th>Expiry</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(len(credit_cards)) %}
          <tr>
            <td>{{ card_list[i] }}</td>
            <td>{{ credit_cards[i].expiry }}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-warning"
                  onclick="location.href='/cards/update/{{ credit_cards[i].id }}'">
                  Update</button>
                <button class="btn btn-danger"
                  onclick="location.href='/cards/remove/{{ credit_cards[i].id }}'">
                  Remove</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
