{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<div class="row justify-content-center">
    <div class="col-sm-12">
        <h3 class="text-center"><b>Checkout</b></h3>
    </div>
</div>
<div class="row">
 <div class="col-sm-6">
  <form method="post">
   <h3>Credit/Debit Cards - <a class="btn btn-success" onclick="location.href='/cards/add'">Add</a></h3>
   <p>{{ render_field(form.creditcard) }}</p>
   <h3>Addresses - <a class="btn btn-success" onclick="location.href='/addresses/add'">Add</a></h3>
   <p>{{ render_field(form.address) }}</p>
   <button type="submit" class="btn btn-primary">Buy item</button>
  </form>
 </div>

 <div class="col-sm-6 justify-content-center" >
  <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(len(cart)) %}
            <tr>
                <td>{{ cart[i].productid }}</td>
                <td>{{ cart[i].product_name }}</td>
                <td>{{ cart[i].description }}</td>
                <td>{{ cart[i].price }}</td>
                <td>{{ productquantity[i] }}</td>
            </tr>
        {% endfor %}
        </tbody>
  </table>
 </div>

</div>

{% endblock %}
