{% extends "base.html" %}
{% block title %} Profile - XYZ Store {% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<div class="container-fluid content">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h4 class="text-center">Welcome to your profile {{ current_user.username
        }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <h4>Details</h4>
      <p>
        <img src="/static/images/person-fill.svg" alt="" width="24"
          height="24" />
        <a href="/profile">Profile</a>
      </p>
      <p>
        <img src="/static/images/credit-card.svg" alt="" width="24"
          height="24" />
        <a href="/cards">Credit Card</a>
      </p>
      <p>
        <img src="/static/images/house-fill.svg" alt="" width="24"
          height="24" />
        <a href="/addresses">Address</a>
      </p>
      <p>
        <img src="/static/images/bag.svg" alt="" width="24" height="24" />
        <a href="/orders">Orders</a>
        <img src="/static/images/chevron-compact-left.svg" alt="" width="24"
          height="24" />
      </p>
    </div>
    <div class="col-sm-9">
      <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Products</th>
            <th>Quantity</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          {% for order in current_user.orders %}
          <tr>
            <td>
              {{ order.order_id }}
            </td>
            <td>
              {% for product in order.order_product%}
              <p>{{ product.product.product_name }}</p>
              {% endfor %}
            </td>
            <td>
              {% for product in order.order_product%}
              <p>{{ product.quantity }}</p>
              {% endfor %}
            </td>
            <td>
              {% for product in order.order_product%}
              <p><a
                  href="{{ url_for('product', product_id=product.product_id) }}"
                  class="btn btn-primary">View</a></p>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
