{% extends "base.html" %}
{% block title %} Profile - XYZ Store {% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<div class="container-fluid content">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h4 class="text-center">Welcome to your profile {{ current_user.username
        }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <h4>Details</h4>
      <p>
        <img src="{{ url_for('static', filename='images/person-fill.svg') }}"
          alt="" width="24" height="24" title="Bootstrap" />
        <a href="{{ url_for('profile') }}">Profile</a>
        <img
          src="{{ url_for('static', filename='images/chevron-compact-left.svg') }}"
          alt="" width="24" height="24" title="Bootstrap" />
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/credit-card.svg') }}"
          alt="" width="24" height="24" title="Bootstrap" />
        <a href="{{ url_for('cards') }}">Credit Card</a>
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/house-fill.svg') }}"
          alt="" width="24" height="24" title="Bootstrap" />
        <a href="{{ url_for('addresses') }}">Address</a>
      </p>
      <p>
        <img src="{{ url_for('static', filename='images/bag.svg') }}" alt=""
          width="24" height="24" title="Bootstrap" />
        <a href="{{ url_for('orders') }}">Orders</a>
      </p>
    </div>
    <div class="col-sm-9">
      <form class="form" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ render_field(form.email, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.username, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.currentpassword, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.newpassword, class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger"
          onclick="location.href='/profile/delete'" style="float:right">Delete
          Profile</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
