{% extends "base.html" %}
{% block title %} Profile - XYZ Store {% endblock %}
{% block content %}
{% from "includes/_form_helper.html" import render_field %}
<div class="container-fluid content">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h4 class="text-center">Welcome to your profile {{ current_user.username
        }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <h4>Details</h4>
      <p>
        <img src="/static/images/person-fill.svg" alt="" width="24"
          height="24" />
        <a href="/profile">Profile</a>
      </p>
      <p>
        <img src="/static/images/credit-card.svg" alt="" width="24"
          height="24" />
        <a href="/cards">Credit Card</a>
      </p>
      <p>
        <img src="/static/images/house-fill.svg" alt="" width="24"
          height="24" />
        <a href="/addresses">Address</a>
        <img src="/static/images/chevron-compact-left.svg" alt="" width="24"
          height="24" />
      </p>
    </div>
    <div class="col-sm-9">
      <h3>Addresse - {{ address.address }}</h3>
      <form class="form" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ render_field(form.address, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.city, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.state, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.zip_code, class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
